@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?92079996');
  src: url('../font/fontello.eot?92079996#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?92079996') format('woff'),
       url('../font/fontello.ttf?92079996') format('truetype'),
       url('../font/fontello.svg?92079996#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92079996#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-youtube-1:before { content: '\e836'; } /* '' */
.icon-user-1:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */
.icon-videocam:before { content: '\e80c'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-attach-1:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e80f'; } /* '' */
.icon-comment:before { content: '\e810'; } /* '' */
.icon-rss-1:before { content: '\e83a'; } /* '' */
.icon-phone:before { content: '\e83c'; } /* '' */
.icon-cog-alt:before { content: '\e814'; } /* '' */
.icon-wrench:before { content: '\e815'; } /* '' */
.icon-resize-full:before { content: '\e813'; } /* '' */
.icon-left-dir:before { content: '\25c2'; } /* '◂' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-down-open:before { content: '\e811'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-up-open:before { content: '\e812'; } /* '' */
.icon-award:before { content: '\e816'; } /* '' */
.icon-briefcase-1:before { content: '\e837'; } /* '' */
.icon-suitcase-1:before { content: '\f0f2'; } /* '' */
.icon-tasks:before { content: '\e83e'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-users-1:before { content: '\e817'; } /* '' */
.icon-camera-1:before { content: '\e818'; } /* '' */
.icon-attach-3:before { content: '\e808'; } /* '' */
.icon-feather:before { content: '\e819'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-phone-1:before { content: '\e83f'; } /* '' */
.icon-tools:before { content: '\e80d'; } /* '' */
.icon-paper-plane-1:before { content: '\e840'; } /* '' */
.icon-briefcase:before { content: '\e81b'; } /* '' */
.icon-suitcase:before { content: '\e78e'; } /* '' */
.icon-clipboard-1:before { content: '\e81c'; } /* '' */
.icon-flickr:before { content: '\e823'; } /* '' */
.icon-vimeo:before { content: '\e822'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\e81e'; } /* '' */
.icon-tumblr:before { content: '\e81d'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-dribbble:before { content: '\e81f'; } /* '' */
.icon-stumbleupon:before { content: '\e820'; } /* '' */
.icon-instagram:before { content: '\e821'; } /* '' */
.icon-paypal:before { content: '\e82e'; } /* '' */
.icon-picasa:before { content: '\e824'; } /* '' */
.icon-mail-1:before { content: '\e804'; } /* '' */
.icon-user-3:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-user-2:before { content: '\e801'; } /* '' */
.icon-mail-3:before { content: '\e841'; } /* '' */
.icon-user-4:before { content: '\e803'; } /* '' */
.icon-videocam-1:before { content: '\e825'; } /* '' */
.icon-doc:before { content: '📄'; } /* '\1f4c4' */
.icon-article-alt:before { content: '\e735'; } /* '' */
.icon-wrench-1:before { content: '\e826'; } /* '' */
.icon-mail-4:before { content: '\e842'; } /* '' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-chat:before { content: '\e827'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-down-open-1:before { content: '\e828'; } /* '' */
.icon-left-open-1:before { content: '\f007'; } /* '' */
.icon-right-open-1:before { content: '\f006'; } /* '' */
.icon-up-open-1:before { content: '\e829'; } /* '' */
.icon-play-1:before { content: '\f00f'; } /* '' */
.icon-flash:before { content: '\e82b'; } /* '' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-coverflow:before { content: '\f00c'; } /* '' */
.icon-paper-plane:before { content: '\f01d'; } /* '' */
.icon-art-gallery:before { content: '\e805'; } /* '' */
.icon-bicycle:before { content: '\e80a'; } /* '' */
.icon-college:before { content: '\e82c'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-pitch:before { content: '\e82a'; } /* '' */
.icon-school:before { content: '\e82d'; } /* '' */
.icon-call:before { content: '\e83d'; } /* '' */
.icon-digg:before { content: '\e82f'; } /* '' */
.icon-reddit:before { content: '\e833'; } /* '' */
.icon-rss:before { content: '\e831'; } /* '' */
.icon-youtube:before { content: '\e830'; } /* '' */
.icon-yahoo:before { content: '\e832'; } /* '' */
.icon-email:before { content: '\e843'; } /* '' */
.icon-skype:before { content: '\e844'; } /* '' */
.icon-user-5:before { content: '\e835'; } /* '' */
.icon-group:before { content: '\e834'; } /* '' */
.icon-cancel:before { content: '\e04e'; } /* '' */
.icon-attach:before { content: '\e06d'; } /* '' */
.icon-edit:before { content: '\e0bf'; } /* '' */
.icon-edit-circled:before { content: '\e0be'; } /* '' */
.icon-folder-open-1:before { content: '\e839'; } /* '' */
.icon-resize-full-1:before { content: '\e049'; } /* '' */
.icon-play-circled:before { content: '\e83b'; } /* '' */
.icon-clipboard:before { content: '\e07f'; } /* '' */
.icon-star-2:before { content: '\e806'; } /* '' */
.icon-cancel-1:before { content: '\2715'; } /* '✕' */
.icon-attach-2:before { content: '📎'; } /* '\1f4ce' */
.icon-folder:before { content: '\e838'; } /* '' */
.icon-mail-2:before { content: '\e809'; } /* '' */
